.lista-diretorios
  .user-search
    input
      padding: 0 10px
    i
      cursor: pointer

  .card-repo
    color: #777
    font-size: .7em
    margin-bottom: 10px
    float: none
    display: inline-block
    vertical-align: top
    img
      width: 100%
      display: block
    h4
      a
        font-size: 1.1em
        text-decoration: none

    .descricao
      padding: 10px

      .texto-descricao
        font-size: .8em
        margin-bottom: 10px

  label
    display: inline

  .repo-erro
    text-align: center
    color: #777777
    margin: 10px
