<div class="lista-diretorios">
    <div class="w3-row w3-theme-d1">
        <div class="w3-col l3 w3-hide-medium w3-hide-small w3-container w3-padding-16 w3-xlarge w3-opacity">
            <i class="w3-xlarge fa fa-bars"></i>
        </div>

        <div class="user-search w3-col l7 s12 w3-container w3-padding-16 w3-xlarge">
            <input class="w3-border-0 w3-show-inline-block w3-theme" placeholder="username git"
                   data-ng-model="vm.user">

            <i class="w3-xlarge fa fa-search"
               data-ng-click="vm.getStarredRepos(vm.user)"
               data-ng-disabled="vm.getStarredRepos.loading"></i>
        </div>

        <div class="avatar-search w3-col l2 w3-hide-medium w3-hide-small w3-container w3-padding-8">
            <div class="w3-right">
                <img class="w3-circle" src="https://www.w3schools.com/w3css/img_avtar.jpg"><br>
            </div>
        </div>
    </div>

    <div class="w3-container w3-padding-32 w3-theme-l1">
        <h2>Repositórios Favoritos</h2>
    </div>

    <div class="w3-container w3-padding-32 w3-theme-l2"
         data-ng-if="vm.repos">
        <label data-ng-if="vm.repos">
            Ordenar Repositórios
            <select name="selectOrdenarRepos"
                    data-ng-model="vm.ordernarRepos">
                <option value="name">Alfabeticamente</option>
                <option value="-stargazers_count">Número de estrelas</option>
                <option value="-open_issues">Questões Abertas</option>
            </select>
        </label>
        <label data-ng-if="vm.repos && vm.languageList">
            Filtrar por
            <select name="selectFiltro"
                    data-ng-model="vm.filtroLinguagem">
                <option value="">Todas</option>
                <option value="{{item}}"
                        data-ng-repeat="item in vm.languageList">{{item}}
                </option>
            </select>
        </label>
    </div>

    <div class="w3-row">
        <div class="w3-row-padding w3-section"
             data-ng-if="vm.repos">
            <div class="card-repo w3-third"
                 data-ng-repeat="repo in vm.repos | orderBy : vm.ordernarRepos | filter : vm.filtroLinguagem">
                <div class="w3-card-2">
                    <div class="w3-row">
                        <div class="w3-col l4">
                            <a target="_blank" data-ng-href="{{repo.html_url | trustUrl}}"><img data-ng-src="{{ repo.owner.avatar_url | trustUrl }}" width="100%"></a>
                        </div>

                        <div class="descricao w3-col l8">
                            <h4><a target="_blank" data-ng-href="{{repo.html_url | trustUrl}}">{{repo.name}}</a></h4>
                            <div class="texto-descricao"><p>{{repo.description}}</p></div>
                            <div data-ng-if="repo.language"><i class="fa fa-code" aria-hidden="true"></i> {{repo.language}}</div>
                            <span><i class="fa fa-star" aria-hidden="true"></i> {{repo.stargazers_count}}</span>
                            <span><i class="fa fa-question-circle-o" aria-hidden="true"></i> {{repo.open_issues_count}}</span>
                            <div><i class="fa fa-clock-o" aria-hidden="true"></i> {{repo.created_at | date : 'dd/MM/yyyy'}}</div>
                            <div><i class="fa fa-calendar" aria-hidden="true"></i> {{repo.pushed_at | date : 'dd/MM/yyyy'}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="repo-erro" data-ng-if="vm.getStarredRepos.err">
            :( Houve um problema na resposta do Github...
        </div>
    </div>
</div>