html
  height: 100%

body
  //color: $primary-text
  //font-family: $font-normal
  height: 100%
  //background: $sixth-color

h1, h2, h3, h4, h5, h6
  //font-family: $font-stdnormal
  font-weight: bold
  //color: $first-color

h2
  font-size: 32px

.container
  padding: 0

@media (min-width: 1200px)
  .container
    //width: $container-size